.container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: 10%;
}
.row{
  padding: 5px;
  padding-left: 30px;
  padding-right: 30px;
}
form{
  width: 500px;
  background-color: white;
  
 
}